<Config>
  <LogLevel>Info</LogLevel>
  <Port>{{ radarr_port }}</Port>
  <UrlBase></UrlBase>
  <BindAddress>{{ radarr_bind_address }}</BindAddress>
  <SslPort>{{ radarr_ssl_port }}</SslPort>
  <EnableSsl>{% if radarr_enable_ssl %}True{% else %}False{% endif %}</EnableSsl>
  <ApiKey>{{ radarr_api_key }}</ApiKey>
  <AuthenticationMethod>{{ radarr_authentication_method }}</AuthenticationMethod>
  <Branch>develop</Branch>
  <LaunchBrowser>False</LaunchBrowser>
  <SslCertHash></SslCertHash>
  <UpdateMechanism>BuiltIn</UpdateMechanism>
</Config>
